@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #232323;
  color: #eaeaea;
  font-family: 'Nunito', sans-serif;
}

.app {
  width: 95%;
  max-width: 1100px;
  margin: 8px auto;
  /* color: #ff91b6; */
}
