* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  background-color: #232323;
  color: #fafafa; 
  font-family: verdana, sans-serif; 
}

.app {
  width: 95%;
  max-width: 920px; 
  margin: 8px auto; 
}
